<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <file>./tests/CartTest.php</file>
            <file>./tests/ItemTest.php</file>
            <file>./tests/ActionTest.php</file>
            <file>./tests/TaxTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
